@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2103 0.0059 285.8852);
  --card: oklch(0.9791 0 0);
  --card-foreground: oklch(0.2103 0.0059 285.8852);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2103 0.0059 285.8852);
  --primary: oklch(0.5092 0.136 266.6522);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9674 0.0013 286.3752);
  --secondary-foreground: oklch(0.2103 0.0059 285.8852);
  --muted: oklch(0.9581 0 0);
  --muted-foreground: oklch(0.5572 0.0076 286.1494);
  --accent: oklch(0.937 0 0);
  --accent-foreground: oklch(0.2103 0.0059 285.8852);
  --destructive: oklch(0.5553 0.1432 22.9377);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9219 0 0);
  --input: oklch(0.9219 0 0);
  --ring: oklch(0.5092 0.136 266.6522);
  --chart-1: oklch(0.5092 0.136 266.6522);
  --chart-2: oklch(0.6037 0.1278 46.5936);
  --chart-3: oklch(0.5576 0.117 152.5203);
  --chart-4: oklch(0.6942 0.1205 77.2913);
  --chart-5: oklch(0.5724 0.1607 297.9566);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.2103 0.0059 285.8852);
  --sidebar-primary: oklch(0.5092 0.136 266.6522);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8852);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.5092 0.136 266.6522);
  --font-sans: var(--font-sans); /* controlled by Urbanist in layout.tsx */
  --font-serif: Slabo 27px;
  --font-mono: Fira Code;
  --radius: 2rem;
  --shadow-2xs: 0px 2px 10px -3px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 10px -3px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 2px 10px -3px hsl(0 0% 0% / 0.05), 0px 1px 2px -4px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 2px 10px -3px hsl(0 0% 0% / 0.05), 0px 1px 2px -4px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 2px 10px -3px hsl(0 0% 0% / 0.05), 0px 2px 4px -4px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 2px 10px -3px hsl(0 0% 0% / 0.05), 0px 4px 6px -4px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 2px 10px -3px hsl(0 0% 0% / 0.05), 0px 8px 10px -4px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 10px -3px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2264 0 0);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.1448 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.7213 0.0872 254.2583);
  --primary-foreground: oklch(0.2161 0.0061 56.0434);
  --secondary: oklch(0.2772 0.0018 286.2808);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.252 0 0);
  --muted-foreground: oklch(0.717 0.0072 286.2177);
  --accent: oklch(0.285 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.4305 0.1058 22.5662);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.3012 0 0);
  --input: oklch(0.3012 0 0);
  --ring: oklch(0.7213 0.0872 254.2583);
  --chart-1: oklch(0.7213 0.0872 254.2583);
  --chart-2: oklch(0.6595 0.1236 53.4325);
  --chart-3: oklch(0.6451 0.1294 153.1152);
  --chart-4: oklch(0.6942 0.1205 77.2913);
  --chart-5: oklch(0.6476 0.1361 296.4291);
  --sidebar: oklch(0.1776 0 0);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.7213 0.0872 254.2583);
  --sidebar-primary-foreground: oklch(0.2161 0.0061 56.0434);
  --sidebar-accent: oklch(0.2264 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.3012 0 0);
  --sidebar-ring: oklch(0.7213 0.0872 254.2583);
  --font-sans: var(--font-sans);
  --font-serif: Slabo 27px;
  --font-mono: Fira Code;
  --radius: 2rem;
  --shadow-2xs: 0px 2px 10px -3px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 10px -3px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 10px -3px hsl(0 0% 0% / 0.1), 0px 1px 2px -4px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 10px -3px hsl(0 0% 0% / 0.1), 0px 1px 2px -4px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 10px -3px hsl(0 0% 0% / 0.1), 0px 2px 4px -4px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 10px -3px hsl(0 0% 0% / 0.1), 0px 4px 6px -4px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 10px -3px hsl(0 0% 0% / 0.1), 0px 8px 10px -4px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 10px -3px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    letter-spacing: var(--tracking-normal);
  }
}
